.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar {
    /* position: sticky;
    top: -1px; */
    background-color: #fdf7f5 !important;
    z-index: 99999;
    padding: 20px 0;
}

.logo {
    max-width: 120px;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar-nav {
    gap: 32px;
    margin-top: 40px;
}

.nav-link {
    font-family: 'Metropolis-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 0;
    color: var(--secondary-clr-1);
}

.active {
    font-family: 'Metropolis-Bold';
    font-size: 18px;
    color: var(--primary-clr-1) !important;
    font-weight: 800 !important;
}

@media (min-width:768px) {
    .navbar {
        /* margin-top: 34px; */
        padding: 34px 0;
    }

    .logo {
        max-width: max-content;
    }

}