/* ========================== */
/* ====== Hero Section ====== */
/* ========================== */

.hero {
    padding: 140px 0 55px;

}

.hero p {
    max-width: 281px;
    margin: auto;
    font-family: 'Metropolis-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -3px;
    color: var(--text-medium);
    margin-bottom: 12px;
}

.hero h1 {
    font-family: 'Metropolis-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -5px;
    color: #1E1E2A;
    margin-bottom: 49px;
}

.hero h1 span {
    color: var(--primary-clr-1);
}

.hero .cta {
    display: inline-block;
    margin: auto;
    font-family: 'Metropolis-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--gray-500);
    text-decoration: none;

}

.apps-links {
    margin-top: 60px;
}

.apps-links img {
    max-width: 140px;

}


/* ============================= */
/* ====== Feature Section ====== */
/* ============================ */
.feature-icon {
    position: absolute;
    top: 37px;
    right: 32px;
}

.section-header {
    font-family: 'Metropolis-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -3px;
    color: var(--text-dark);
}

.section-text {
    font-family: 'Metropolis-Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -3px;
    color: var(--text-light);
    margin: 30px 0;
}

.feature-btn {
    text-decoration: none;
    font-family: 'Metropolis-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #5D5FEF;
}

.feature-img {
    margin-top: 60px;
}

.feature-img.clipped {
    /* max-height: 285px; */
    height: 384px;
    background: url('../assets/Iphone.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 150%;

}

.mobile-only {
    padding: 0 20px;
}

.gradient-section {
    padding: 70px 20px;
    background: linear-gradient(109.8deg, #FCBD99 19.35%, #F1E1C2 90.5%);
    box-shadow: 0px 32px 20px rgba(206, 212, 222, 0.12),
        1px 8px 24px rgba(206, 212, 222, 0.16);
}

.social-feature-header {
    max-width: 355px;
}

.gradient-section .section-header {
    font-size: 48px;
    line-height: 48px;
}

.swiper-slide .section-card {
    min-height: 1046px;
}

/* ================================== */
/* ====== How it works Section ====== */
/* ================================== */
.how-it-works {
    padding-top: 60px;
    padding-bottom: 60px;
}

.how-it-works h2 {
    font-family: 'Metropolis-ExtraBold';
}

.how-it-works__banner {
    background: url(../assets/how-it-works-banner.svg);
    min-height: 429px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.how-it-works__banner .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
}

.how-it-works__banner .text {
    max-width: 317px;
    margin-top: 36px;
    font-family: 'Metropolis-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.227273px;
    color: #FFFFFF;
}

.how-it-works__banner .text span {
    color: rgba(255, 255, 255, 0.5);
}

.how-it-works__col {
    margin-bottom: 50px;
}

.how-it-works__col h3 {
    font-family: 'Metropolis-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: var(--gray-500);
    margin: 15px 0;
}

.how-it-works__col p {
    max-width: 230px;
    margin: auto;
    font-family: 'Metropolis-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}


/* =========================
====== Faqs Section ======= 
=========================== */
.faq-section {
    padding-top: 24px;
}

.accordion-item {
    border: none;
}

.accordion-button {
    font-family: 'Metropolis-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: var(--gray-400);
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.accordion-button::before {
    content: '';
    background: url(../assets/faq-marker.svg);
    display: inline-block;
    height: 8px;
    max-width: 8px;
    width: 100%;
    position: relative;
    top: -9px;
    margin-right: 15px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.2);
}

.accordion-button:not(.collapsed) {
    color: var(--gray-400);
    box-shadow: none;
    background-color: transparent;
}

.accordion-body {
    font-family: 'Metropolis-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-40);
    padding: 20px 0 20px 21px;
    max-width: 323px;
}


/* =========================
   ====== Media Queries ==== 
   ========================= */


@media(min-width:768px) {
    .hero p {
        font-size: 56px;
        max-width: 490px;
        line-height: 63px;
    }

    .hero h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .apps-links img {
        max-width: max-content;
    }

    .swiper-slide .section-card {
        min-height: 674px;
    }

    .section-header {
        font-size: 64px;
        line-height: 72px;
    }

    .section-text {
        font-size: 64px;
        line-height: 64px;
        margin: 10px 0 30px;
    }

    .social-feature-header {
        max-width: 650px;
    }

    .feature-icon {
        top: 47px;
        right: 50px;
    }

    .feature-img.clipped {
        height: 500px;
        width: 76%;
        background-size: 100% 100%;
    }

    .gradient-section .sectio-header {
        font-size: 56px;
        line-height: 56pxh;
    }
}

@media (min-width:992px) {
    .hero {
        padding-top: 200px;
    }

    .gradient-section {
        padding: 61px 52px;
        border-radius: 48px;
    }

    .desktop-only {
        width: 72%;
    }



    .social-text .section-text {
        max-width: 635px;
        text-align: start !important;
    }

    .how-it-works__banner,
    .how-it-works__banner .overlay {
        border-radius: 48px;
    }

    .how-it-works__banner {
        margin-bottom: 100px;
    }

    .how-it-works__banner .text {
        margin-top: 20px;
        max-width: 415px;
    }

    .faq-section .accordion-button {
        font-size: 18px;
        line-height: 18px;
    }

    .faq-section .accordion-body {
        max-width: 800px;
    }

    .accordion-button {
        border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    }

    .accordion-button:focus {
        border-color: rgba(153, 153, 153, 0.2);
    }

    .accordion-button::before {
        top: -1px;
    }
}